<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./js/jq.js"></script>
    <link rel="stylesheet" href="./bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="./bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>罗德志
                <small>我的秘密的花园街</small>
            </h1>
            <ul class="list-group">
                <% data.forEach( function(e){ %>
                    <li class="list-group-item">
                        <a href="#">
                            <h3>
                                <%= e.title %>
                            </h3>
                        </a>
                        <p>日期 ：
                            <%= e.date %>
                        </p>
                        <p>
                            <%= e.intro %>
                        </p>
                    </li>
                    <% }) %>
            </ul>
        </div>

    </div>

</body>

</html>